nav {
    /*position: absolute;
    top: 6.5em;
    left: -49px;*/
    float: right;
}
.blockMenu {
    display: block;
    padding: 0;
    /*position: fixed;*/
    z-index: 1;
    list-style-type: none;
    font-size: smaller;
}
.blockMenu a {
    display: block;
    margin: 5px 0 7px 0;
    padding: 5px 5px 7px 5px;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    color: #EEE;
    text-decoration: none;
    border: #333 solid 5px;
    border-right: none;
    border-radius: 25px;
}
.blockMenu a:hover {
    color: #000;
    background-color: #555
}
.active {
    background-color: #444;
    color: #EEE;
    font-weight: bold;
    border-radius: 25px;
}
.content-wrapper {
    max-width: 864px;
    border: #333 solid 5px;
}
header {
    margin: 25px 0;
    font-size: larger;
}
header p {
    margin-left: 40px;
}
main {
    margin: 0 40px;
}
main p {
    font-size: 22px;
    margin-top: 35px;
}
/*small displays*/

@media (max-width: 1000px) {
    .content-wrapper {
        margin: 10px auto 10px 44px;
    }
}
/*smaller displays*/

@media (max-width: 935px) {
    .content-wrapper {
        margin: 10px auto;
    }
    nav {
        display: none;
    }
}
/*tiny displays*/

@media (max-width: 900px) {
    html {
        background-color: #EEE;
    }
    .content-wrapper {
        max-width: none;
        margin: 0;
        padding: 0;
        border: none;
    }
    header {
        margin: 10px 0;
        font-size: smaller;
    }
}
/*smallest displays*/

@media (max-width: 750px) {
    header p {
        margin-left: 10px;
    }
    main {
        margin: 0;
    }
    main p {
        font-size: medium;
        margin: 10px;
    }
}
@media (max-height: 660px) {
    nav {
        top: 0;
    }
    .blockMenu a {
        margin: -1px 0;
        /*border-bottom: hidden;*/
    }
/*    .lastTab {
        border-bottom: #333 solid 5px;
    }*/
}
@media (max-height: 400px) {
    nav {
        display: none;
    }
}
