body
  font-family sans-serif

header
  text-align center

  .content-title
    margin 45px 0
    padding 10px 0
    border-top 1px solid #000
    border-bottom 1px solid #000

  h2
    margin-top 0

main
  padding 15px

  @media screen and (min-width: 700px)
    max-width 980px
    margin auto
    padding 30px 60px

  @media screen and (min-width: 980px)
    box-shadow 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset

main
  p:first-of-type
    text-indent 50px
